.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 20px;
  }
  
  .leftText,
  .rightText {
    font-size: 14px;
    font-weight: bold;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #007bff;
  }
  
  input:checked + .slider:before {
    transform: translateX(20px);
  }
  
  /* Additional styles for dark mode */
  .toggleSwitch.darkMode {
    background-color: #333;
  }
  
  .toggleSwitch.darkMode .leftText,
  .toggleSwitch.darkMode .rightText {
    color: #fff;
  }
  
  .toggleSwitch.darkMode .slider {
    background-color: #666;
  }
  
  .toggleSwitch.darkMode input:checked + .slider {
    background-color: #007bff;
  }